<div class="container py-4">
  <h1 class="mb-4">Edit Progress Entry</h1>
  <div class="card">
    <div class="card-body">
      <%= render "form", progress_entry: @progress_entry %>
    </div>
  </div>
  <div class="mt-3">
    <%= link_to "Cancel", @progress_entry, class: "btn btn-secondary" %>
  </div>
</div>
