<p style="color: green"><%= notice %></p>

<% content_for :title, "Progress entries" %>

<h1>Progress entries</h1>

<div id="progress_entries">
  <% @progress_entries.each do |progress_entry| %>
    <%= render progress_entry %>
    <p>
      <%= link_to "Show this progress entry", progress_entry %>
    </p>
  <% end %>
</div>

<%= link_to "New progress entry", new_progress_entry_path %>
