<div class="container mt-5">
    <div class="card mx-auto">
        <div class="card-body text-center">
            <h2 class="card-title mb-3"><%= @badge.name %></h2>
            <p class="card-text text-muted mb-1"><%= @badge.description %></p>
            <p class="card-text mb-3">Icon location: <%= @badge.icon_url %></p>
        </div>
    </div>
</div>