<div class="container py-4">
    <h1 class="mb-4">Edit Participant</h1>
    <div class="card">
        <div class="card-body">
            <%= render "form", challenge_participant: @challenge_participant %>
        </div>
    </div>
    <div class="mt-3">
        <%= link_to "Cancel", @challenge_participant, class: "btn btn-secondary" %>
    </div>
</div>