<div class="container py-4">
    <h1 class="mb-4 text-center">Current Challenge Participants</h1>
    <table id="challenge_participants" class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Challenge</th>
                <th>Joined At</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @challenge_participants.each do |cp| %>
                <tr>
                <td><%= cp.user.username %></td>
                <td><%= cp.challenge.title %></td>
                <td><%= cp.created_at.strftime('%Y-%m-%d') %></td>
                <td><%= link_to 'Details', cp, class: 'btn btn-primary' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>