<p style="color: green"><%= notice %></p>

<% content_for :title, "Challenge participants" %>

<h1>Challenge participants</h1>

<div id="challenge_participants">
  <% @challenge_participants.each do |challenge_participant| %>
    <%= render challenge_participant %>
    <p>
      <%= link_to "Show this challenge participant", challenge_participant %>
    </p>
  <% end %>
</div>

<%= link_to "New challenge participant", new_challenge_participant_path %>
