<div class="container py-4">
    <h1 class="mb-4 text-center">Current Users</h1>
    <table id="users" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.full_name %></td>
                    <td><%= user.username %></td>
                    <td><%= user.role %></td>
                    <td><%= link_to 'User info', user, class: 'btn btn-primary' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>